<!doctype html>

<html lang="en" xmlns:x-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My CST</title>
    <meta name="description" content="My CST - Store your CST safely">
    <meta name="author" content="My CST">

    <meta property="og:title" content="My CST">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mycst.link/">
    <meta property="og:description" content="My CST - Store your CST safely">
    <meta property="og:image" content="https://mycst.link/public/img/favicon-152x152.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="My CST"/>
    <meta name="twitter:description" content="My CST - Store your CST safely"/>
    <meta name="twitter:image" content="https://mycst.link/public/img/favicon-152x152.png"/>

    <meta name="application-name" content="My CST"/>
    <%= require('html-loader!./pages/head.html').default %>
</head>

<body x-data="data" id="body" class="flex flex-col" @hashchange.window="changePage(location.hash)">
<%= require('html-loader!./pages/home.html').default %>
<%= require('html-loader!./pages/qr/view.html').default %>
<%= require('html-loader!./pages/qr/detail.html').default %>
<%= require('html-loader!./pages/qr/encode.html').default %>
<%= require('html-loader!./pages/library.html').default %>
<%= require('html-loader!./pages/upload.html').default %>
<%= require('html-loader!./pages/footer.html').default %>
</body>