html {
    font-family: "Open Sans";
}

#qr-content {
    max-height: 150px;
    max-width: 150px;
    position: relative;
}

#qr-content-large {
    max-height: 500px;
    max-width: 500px;
    position: relative;
}

#qr-content #bm, #qr-content #bm-large {
    width: 100%;
    height: 100%;
}

#qrcode, #qrcode-large {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
}

#videoContainer {
    width: 640px;
}
@media(max-width: 600px) {
    #videoContainer {
        width: 300px;
    }
}

/*#videoContainer video {
    height: 100%;
}*/
